:root {
  --primary-hue: 349deg;
  --primary-saturation: 55%;
  --primary-lightness: 44%;
}

.dark {
  --primary-hue: 355deg;
  --primary-saturation: 100%;
  --primary-lightness: 85%;
}


.nav-container-blur:not(html[class~="dark"] *) {
  background-color: #1c5db1
}

@import "./chroma-catppuccin-mocha.css";